#login, #register{
    text-align: center;
}

#login-form, #register-form{
    background-color: whitesmoke;
    max-width: 33%;
    margin-left: 33%;
}
.navbar{
    margin: 0px;
    border-radius: 0px;
    border-color: #7e5b00;
}

#header {
    color: white;
}
#create-review{
    display: none;
}

.navbar-brand {
    color: white;
}
.container-fluid{
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #726255;
    box-shadow: inset 0 0 10px #7e5b00;
    border-color: #7e5b00;
}

hr{
    margin-top: 0px;
    margin-bottom: 2px;
    border-top: 2px solid gray;
}
#vertical-line{
    min-height: 40px;
    border-left: 2px solid gray;
    margin-top: 10px;
}
form{
    width: 100px;
}
#user-info{
    display: none;
}
#login, #register{
    display: none;
}
.navbar .dropdown{
    font-size: 20px;
}

#error{
    text-align: center;
}

#sides{
    display: flex;
    height: 91vh;
}
#left-side{
    min-height: 675px;
    width: 25%;
    float: left;
    background-color: #F0C030;
    box-shadow: inset 0 0 10px #000000;
}
#right-side{
    float: left;
    overflow: auto;
    text-align: center;
    width: 75%;
}

#search{
    border: solid #7e5b00;
    color: #726255;
    box-shadow: inset 0 0 10px #000000;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

#list-area{
    overflow: auto;
}

#list{
    font-size: 20px;
    list-style-type: none;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
.disabled {
   pointer-events: none;
   cursor: default;
}
#list .beer-type{
    padding-left: 20px; 
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 2%; 
}

#list li.active{
    background-color: #f4b000;
    padding-left: 30px;
    box-shadow: inset 0 0 10px #000000;
}

#list .beer-type:hover{
    background-color: #F7E291;
    padding-left: 30px;
    box-shadow: inset 0 0 10px #000000;
    cursor: pointer;
    cursor: hand;
}

.beer-type-menu-items{
    display: none;
}

#register-form, #login-form{
    background-color: #726255;
}
input{
    color: #726255;
}
.buttons{
    background-color: #7e5b00;
}

#error{
    color: black;
}
.ui-dialog-titlebar {
    background: #473E35;
    border: 1px solid gray;
    color: #FFFFFF;
    font-weight: bold;
}
.ui-widget-content{
    background: #E0AA4D;
}
.beer-type, .glyphicon-menu-hamburger, #user-name{
    color: white;
}

.ui-button-text{
    color: green;
    padding: auto;
    margin: auto;
}
.ui-button {
    background: blue;
}

.ui-icon-closethick{
    background: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

.ui-widget-overlay{
    background: #F2FFA9;
}

#beerToChange{
    color: #726255;
}

.rating {
    float:left;
}

.w3-container {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    width: 80%;
    background-color: #726255;
    color: white;
}
.review-float-left{
    float: left;
}
.review-float-right{
    float: right;
}
.beer-review-edit-button{
    margin-top: 5%;
    margin-bottom: 2%;
}
.beer-review-delete-button{
    margin-top: 1%;
    float: right;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
